body {
  background-image: url("../images/dark-triangles.png");

}

.header {
  background-image: url("../images/crystals-bgi.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
}

#instructions {
  background-color: white;
  width: full;
}

#hint {
  font-size: 12px;
}

#goalBox,
#scoreBox {
  background-image: url("../images/random_grey_variations.png");
  width: 500px;
  padding: 20px;
  background-color: white;
  text-align: center;
  margin: 20px 0px 10px 0px;
  align-content: center;
  color: white;
  max-width: 550px
}

#goalBox {
  height: 160px;
  border: 5px solid blue;
}

#scoreBox {
  border: 5px solid red;
  text-align: left;
  height: 80px;
}

#rdmNum,
#guessTot {
  align-self: center
}

hr {
  width: 80%;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color:#fff;
  color:inherit;
  border: 0 none;
}

#crystalsRow {
  padding: 20px;
}

#crystalImage {
  width: 150px;
  height: 150px;
}

#imgBox {
  min-width: 270px;
}

img {opacity: .75}

img:hover{opacity: 1}

#messageSpan {
  font-size: 100px;
  color: green;
  margin: 0 auto 0 auto;
}


/* Media queries */

/* desktop */
@media only screen and (max-width: 980px) {

  #crystalImage {
    width: 120px;
    height: 120px;
  }

  #goalBox,
  #scoreBox {
    max-width: 500px;
  }

}

/* tablet */
@media only screen and (max-width: 768px) {

  #crystalImage {
    width: 100px;
    height: 100px;
  }

  #goalBox,
  #scoreBox {
    max-width: 400px;
  }

}

/* phone */
@media only screen and (max-width: 640px) {

  .header h1 {
    font-size: 175%;
  }

  #crystalImage {
    width: 75px;
    height: 75px;
  }

  #crystalsRow {
    padding: 20px;
  }

  #messageSpan {
    font-size: 80px;

  }

  #goalBox,
  #scoreBox {
    max-width: 350px;
  }

  #wins,
  #losses {
    max-width: 150px;
  }

}

@media only screen and (max-width: 525px) {

  #goalBox,
  #scoreBox  {
    margin: 0 auto 0 auto;
  }

}
